.body {
    background-color: #000000;
    font-family: "Inter", "Arial", sans-serif;
    padding-top: 45px;
    height: max-content;
    margin-bottom: 0;
    
    position:relative;
    z-index:1;
}
