.card__delete-button{
    display:none;
    width:20px;
    height: 20px;
    
    background-image: url("../../../images/__graphics/graphics__delete-button.png");
    background-color: transparent;
    background-repeat: no-repeat;

    position: relative;
    top:18px;
    right:15px;
    left:249px;

    z-index:1;
    border:0;
}

.card__delete-button:hover{
    opacity:0.8;
    transition: 0.3s;
    cursor:pointer;
}